<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                London Times
            </h1>
            <h2 class="subtitle">
                Top Stories
            </h2>
        </div>
    </div>
</section>
{{!-- Tile based layout - each tile is an article --}}
<div class="container is-widescreen">
    <div id="ancestorTile" class="tile is-ancestor  is-vertical">
        {{#each articles}}
            {{>articles/article-tile}}
        {{/each}}
    </div>
</div>