<h1>News from accross the web!</h1>
{{!-- links/buttons/dropdowns to various news sites --}}
<h2>London Times</h2>
{{!-- 10 Cards with Headline as heading, summary as body, and URL underneath as "link to story" --}}