<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                London Times
            </h1>
            <h2 class="subtitle">
                Top Stories
            </h2>
        </div>
    </div>
</section>
{{!-- "comment section" modal --}}
{{#each articles}}
{{>comment-modal}}
{{/each}}
{{!-- Tile based layout - each tile is an article --}}
<div class="container is-widescreen">
    <div id="ancestorTile" class="tile is-ancestor">
        <div class="tile is-parent is-12 has-text-centered">
            <article class="tile is-child box is-info" data-id="{{_id}}">
                <h3 class="title">Top Stories</h3>
            </article>
        </div>
        {{#each articles}}
        {{>article-tile}}
        {{/each}}
    </div>
</div>