<div class="tile is-parent">
    <article class="tile is-child box is-info" data-id="{{_id}}">
        <h3 class="title">{{headline}}</h3>
        <p class="summary">{{summary}}
            <br>
            <a class="link" href="{{link}}">link to full story</a>
        </p>
    </article>
</div>